body{
  margin: 2%;
}

.top-container{
  margin: 3%;
}

.project-image{
  position: relative;
}
.project-image img{
  width: 50%;
  position: absolute;
  right: 0;
}


.main-text{
  margin: 6% 0;
}

.right-container p{
  padding-right: 42%;
}

.project-collaborators{
  margin-top: 8%;
}

.collab-container{
  width: 25%;
}

.large-head{
  font-size: 8rem;
  font-weight: bold;
  /* width: 100%; */
  padding-left: 15%;
}

.large-head img{
  width: 4%;
}

.large-head p{
  font-size: 1rem;
  font-weight: normal;
  padding: 0 2%;
  color: black;
  display: inline-block;
}
